html,body,div,object,iframe,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,p,blockquote,pre,fieldset,form,label,legend,button,input,textarea,table,caption,tbody,tfoot,thead,tr,th,td,a,abbr,address,acronym,cite,code,del,dfn,em,img,ins,kbd,q,span,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,section,article,aside,header,footer,nav,menu,hgroup,dialog,details,summary,figure,figcaption,canvas,embed,output,ruby,time,mark,audio,video {
 margin:0;
 padding:0;
 box-sizing: border-box;
}
html {
 color:#333;
 background:#fff;
}
body {
 line-height:1;
}
section,article,aside,header,footer,nav,menu,hgroup,dialog,details,figure,figcaption {
 display:block;
}
h1,h2,h3,h4,h5,h6 {
 font-size:100%;
 font-weight:normal;
}
ul,ol,li {
 list-style:none;
}
table {
 border-collapse:collapse;
 border-spacing:0;
}
caption,th {
 text-align:left;
}
fieldset,img {
 border:0;
}
legend {
 color:#333;
}
input,textarea,select {
 font-family:inherit;
 font-weight:inherit;
 font-size:inherit;
 color: #fff;
}
input,textarea,select {
 *font-size:100%;
}
legend {
 color:#333;
}
address,caption,cite,code,dfn,em,th,var {
 font-style:normal;
 font-weight:normal;
}
blockquote:before,blockquote:after,q:before,q:after {
 content:'';
}
sup {
 vertical-align:text-top;
}
sub {
 vertical-align:text-bottom;
}
a:link,a:visited {
 text-decoration:none;
}
a:hover,a:active,a:focus {
 text-decoration:none;
 outline:0;
}
input[type="radio"],input.radio,input[type="checkbox"],input.checkbox {
 margin-right:3px;
 vertical-align:middle;
}
input[type="text"],input.text,input[type="password"],input.password {
 padding:4px;
 border:1px solid #ccc;
}
input[type="text"]:hover,input[type="text"]:active,input[type="text"]:focus,input.text:hover,input.text:active,input.text:focus,input[type="password"]:hover,input[type="password"]:active,input[type="password"]:focus,input.password:hover,input.password:active,input.password:focus {
 border-color:#bbbbbb;
}
textarea {
 padding:5px;
 border:1px solid #ccc;
}
textarea:hover,textarea:active,textarea:focus {
 border-color:#bbbbbb;
}
select {
 padding:3px;
 border:1px solid #ccc;
}
select:hover,select:active,select:focus {
 border-color:#bbbbbb;
}
select optgroup {
 font-weight:700;
 font-style:normal;
}
select option {
 font-weight:400;
 font-style:normal;
}

.bg-white{background: #fff !important;}
.bg{background: #efefef;}
.blr{border-left:none !important;border-right:none !important;}
.bb{border-bottom:none !important;}
.pr {
 position:relative;
}
.pa {
 position:absolute;
}
.db{display: block;}
.dlb{display: inline-block;}

.fl {
 float:left;
 display:inline;
}
.fr {
 float:right;
 display:inline;
}
.cl {
 clear:left;
}
.cr {
 clear:right;
}
.cb {
 clear:both;
}
.bc {
 margin-left:0;
 margin-right:0;
}
.clear {
 height:0;
 clear:both;
 font-size:0;
 overflow:hidden;
 visibility:hidden;
}
.clearfix {
 *zoom:1;
}
.clearfix:after {
 visibility:hidden;
 display:block;
 font-size:0;
 content:".";
 clear:both;
 height:0;
}
.tl {
 text-align:left;
}
.tc {
 text-align:center;
}
.tr {
 text-align:right;
}
.vat {
 vertical-align:top;
}
.vam {
 vertical-align:middle;
}
.vab {
 vertical-align:bottom;
}
.hidden {
 display:none;
}
.vs {
 visibility:visible;
}
.vh {
 visibility:hidden;
}
.zoom {
 zoom:1;
}
.w10 {
 width:10px;
}
.w20 {
 width:20px;
}
.w30 {
 width:30px;
}
.w40 {
 width:40px;
}
.w50 {
 width:50px;
}
.w60 {
 width:60px;
}
.w70 {
 width:70px;
}
.w80 {
 width:80px;
}
.w90 {
 width:90px;
}
.w100 {
 width:100px;
}
.w200 {
 width:200px;
}
.w205 {
 width:200px;
}
.w215 {
 width:215px;
}
.w220 {
 width:220px;
}
.w270 {
 width:220px;
}
.w190 {
 width:190px;
}
.w225 {
 width:225px;
}
.w300 {
 width:300px;
}
.w305 {
 width:305px;
}
.w350 {
 width:350px;
}
.w400 {
 width:400px;
}
.w420 {
 width:420px;
}
.w500 {
 width:500px;
}
.w550 {
 width:550px;
}
.w600 {
 width:600px;
}
.w650 {
 width:650px;
}
.w700 {
 width:700px;
}
.w770{
 width:770px;	
}
.w780 {
 width:780px;
}
.w800 {
 width:800px;
}
.w850 {
 width:850px;
}
.w860 {
 width:860px;
}
.w900 {
 width:900px;
}
.w925 {
 width:925px;
}
.w945 {
 width:945px;
}
.w960 {
 width:960px;
}
.w965 {
 width:965px;
}
.w970{width: 970px;}
.w975{width: 975px;}
.w980{width: 980px;}
.w985{width: 985px;}
.w1000 {
 width:1000px;
}
.w1050{ width:1050px;}
.w210 {
 width:210px;
}
.w220 {
 width:220px;
}
.w230 {
 width:230px;
}
.w240 {
 width:240px;
}
.w250 {
 width:250px;
}
.w260 {
 width:260px;
}
.w270 {
 width:270px;
}
.w280 {
 width:280px;
}
.w285 {
 width:285px;
}
.w290 {
 width:290px;
}
.w300 {
 width:300px;
}
.w310 {
 width:310px;
}
.w320 {
 width:320px;
}
.w330 {
 width:330px;
}
.w340 {
 width:340px;
}
.w350 {
 width:350px;
}
.w360 {
 width:360px;
}
.w370 {
 width:370px;
}
.w380 {
 width:380px;
}
.w385 {
 width:385px;
}
.w390 {
 width:390px;
}
.h20 {
 height:20px;
}
.h30 {
 height:30px;
}
.h40 {
 height:40px;
}
.h50 {
 height:50px;
}
.h80 {
 height:80px;
}
.h82 {
 height:82px;
}
.h90 {
 height:90px;
}
.h100 {
 height:100px;
}
.h110 {
 height:110px;
}
.h200 {
 height:200px;
}
.h250 {
 height:250px;
}
.h285 {
 height:285px;
}
.h300 {
 height:300px;
}
.h305 {
 height:305px;
}
.h350 {
 height:350px;
}
.h400 {
 height:400px;
}
.h445 {
 height:445px;
}
.h500 {
 height:500px;
}
.h600 {
 height:600px;
}



.minH300 {
 min-height:300px;
 _height:300px;
}
.minH400 {
 min-height:400px;
 _height:400px;
}
.minH500 {
 min-height:500px;
 _height:500px;
}
.minH600 {
 min-height:600px;
 _height:600px;
}
.minH700 {
 min-height:700px;
 _height:700px;
}
.minH800 {
 min-height:800px;
 _height:800px;
}
.wone {
 width:100%;
}
.wtow{
	width: 1200px;
	margin: 0 auto;
}

.hone {
 height:100%;
}
.blank,.blank3,.blank5,.blank6,.blank9,.blank10,.blank15,.blank20,.blank30 {
 display:block;
 overflow:hidden;
 clear:both;
}
.center{margin: 0 auto;}
.blank3 {
 height:3px;
}
.blank5 {
 height:5px;
}
.blank6 {
 height:6px;
}
.blank9 {
 height:9px;
}
.blank10 {
 height:10px;
}
.blank15 {
 height:15px;
}
.blank20 {
 height:20px;
}
.blank30 {
 height:30px;
}
.mt0{margin-top: 0;}

.m2 {
 margin:2px;
}
.mt2 {
 margin-top:2px;
}
.mb2 {
 margin-bottom:2px;
}
.mtb2 {
 margin-top:2px;
 margin-bottom:2px;
}
.ml2 {
 margin-left:2px;
}
.mr2 {
 margin-right:2px;
}
.mlr2 {
 margin-left:2px;
 margin-right:2px;
}

.m5 {
 margin:5px;
}
.mt5 {
 margin-top:5px;
}
.mb5 {
 margin-bottom:5px;
}
.mtb5 {
 margin-top:5px;
 margin-bottom:5px;
}
.ml5 {
 margin-left:5px;
}
.mr5 {
 margin-right:5px;
}
.mlr5 {
 margin-left:5px;
 margin-right:5px;
}
.m10 {
 margin:10px;
}
.mt10 {
 margin-top:10px;
}
.mb10 {
 margin-bottom:10px;
}
.mtb10 {
 margin-top:10px;
 margin-bottom:10px;
}
.ml10 {
 margin-left:10px;
}
.mr10 {
 margin-right:10px;
}
.mlr10 {
 margin-left:10px;
 margin-right:10px;
}
.m15 {
 margin:15px;
}
.mt15 {
 margin-top:15px;
}
.mb15 {
 margin-bottom:15px;
}
.mtb15 {
 margin-top:15px;
 margin-bottom:15px;
}
.ml15 {
 margin-left:15px;
}
.mr15 {
 margin-right:15px;
}
.mlr15 {
 margin-left:15px;
 margin-right:15px;
}
.m20 {
 margin:20px;
}
.mt20 {
 margin-top:20px;
}
.mb20 {
 margin-bottom:20px;
}
.mtb20 {
 margin-top:20px;
 margin-bottom:20px;
}
.ml20 {
 margin-left:20px;
}
.mr20 {
 margin-right:20px;
}
.mlr20 {
 margin-left:20px;
 margin-right:20px;
}
.m25 {
 margin:25px;
}
.mt25 {
 margin-top:25px;
}
.mb25 {
 margin-bottom:25px;
}
.mtb25 {
 margin-top:25px;
 margin-bottom:25px;
}
.ml25 {
 margin-left:25px;
}
.mr25 {
 margin-right:25px;
}
.mlr25 {
 margin-left:25px;
 margin-right:25px;
}
.m30 {
 margin:30px;
}
.mt30 {
 margin-top:30px;
}
.mb30 {
 margin-bottom:30px;
}
.mtb30 {
 margin-top:30px;
 margin-bottom:30px;
}
.ml30 {
 margin-left:30px;
}
.mr30 {
 margin-right:30px;
}
.mlr30 {
 margin-left:30px;
 margin-right:30px;
}
.m40 {
 margin:40px;
}
.mt40 {
 margin-top:40px;
}
.mb40 {
 margin-bottom:40px;
}
.mtb40 {
 margin-top:40px;
 margin-bottom:40px;
}
.ml40 {
 margin-left:40px;
}
.mr40 {
 margin-right:40px;
}
.mlr40 {
 margin-left:40px;
 margin-right:40px;
}
.m50 {
 margin:50px;
}
.mt50 {
 margin-top:50px;
}
.mb50 {
 margin-bottom:50px;
}
.mtb50 {
 margin-top:50px;
 margin-bottom:50px;
}
.ml50 {
 margin-left:50px;
}
.mr50 {
 margin-right:50px;
}
.mlr50 {
 margin-left:50px;
 margin-right:50px;
}
.m100 {
 margin:100px;
}
.mt100 {
 margin-top:100px;
}
.mb100 {
 margin-bottom:100px;
}
.mtb100 {
 margin-top:100px;
 margin-bottom:100px;
}
.ml100 {
 margin-left:100px;
}
.mr100 {
 margin-right:100px;
}
.mlr100 {
 margin-left:100px;
 margin-right:100px;
}
.p3 {
 padding:3px;
}
.pt3 {
 padding-top:3px;
}
.pb3 {
 padding-bottom:3px;
}
.ptb3 {
 padding-top:3px;
 padding-bottom:3px;
}
.pl3 {
 padding-left:3px;
}
.pr3 {
 padding-right:3px;
}
.plr3 {
 padding-left:3px;
 padding-right:3px;
}
.p4 {
 padding:4px;
}
.pt4 {
 padding-top:4px;
}
.pb4 {
 padding-bottom:4px;
}
.ptb4 {
 padding-top:4px;
 padding-bottom:4px;
}
.pl4 {
 padding-left:4px;
}
.pr4 {
 padding-right:4px;
}
.plr4 {
 padding-left:4px;
 padding-right:3px;
}


.p5 {
 padding:5px;
}
.pt5 {
 padding-top:5px;
}
.pb5 {
 padding-bottom:5px;
}
.ptb5 {
 padding-top:5px;
 padding-bottom:5px;
}
.pl5 {
 padding-left:5px;
}
.pr5 {
 padding-right:5px;
}
.plr5 {
 padding-left:5px;
 padding-right:5px;
}
.p10 {
 padding:10px;
}
.pt10 {
 padding-top:10px;
}
.pb10 {
 padding-bottom:10px;
}
.ptb10 {
 padding-top:10px;
 padding-bottom:10px;
}
.pl10 {
 padding-left:10px;
}
.pr10 {
 padding-right:10px;
}
.plr10 {
 padding-left:10px;
 padding-right:10px;
}
.p15 {
 padding:15px;
}
.pt15 {
 padding-top:15px;
}
.pb15 {
 padding-bottom:15px;
}
.ptb15 {
 padding-top:15px;
 padding-bottom:15px;
}
.pl15 {
 padding-left:15px;
}
.pr15 {
 padding-right:15px;
}
.plr15 {
 padding-left:15px;
 padding-right:15px;
}
.p20 {
 padding:20px;
}
.pt20 {
 padding-top:20px;
}
.pb20 {
 padding-bottom:20px;
}
.ptb20 {
 padding-top:20px;
 padding-bottom:20px;
}
.pl20 {
 padding-left:20px;
}
.pr20 {
 padding-right:20px;
}
.plr20 {
 padding-left:20px;
 padding-right:20px;
}
.p25 {
 padding:25px;
}
.pt25 {
 padding-top:25px;
}
.pb25 {
 padding-bottom:25px;
}
.ptb25 {
 padding-top:25px;
 padding-bottom:25px;
}
.pl25 {
 padding-left:25px;
}
.pr25 {
 padding-right:25px;
}
.plr25 {
 padding-left:25px;
 padding-right:25px;
}
.p30 {
 padding:30px;
}
.pt30 {
 padding-top:30px;
}
.pb30 {
 padding-bottom:30px;
}
.ptb30 {
 padding-top:30px;
 padding-bottom:30px;
}
.pl30 {
 padding-left:30px;
}
.pr30 {
 padding-right:30px;
}
.plr30 {
 padding-left:30px;
 padding-right:30px;
}
.p40 {
 padding:40px;
}
.pt40 {
 padding-top:40px;
}
.pb40 {
 padding-bottom:40px;
}
.ptb40 {
 padding-top:40px;
 padding-bottom:40px;
}
.pl40 {
 padding-left:40px;
}
.pr40 {
 padding-right:40px;
}
.plr40 {
 padding-left:40px;
 padding-right:40px;
}

.p50 {
 padding:50px;
}
.pt50 {
 padding-top:50px;
}
.pb50 {
 padding-bottom:50px;
}
.ptb50 {
 padding-top:50px;
 padding-bottom:50px;
}
.pl50 {
 padding-left:50px;
}
.pr50 {
 padding-right:50px;
}
.plr50 {
 padding-left:50px;
 padding-right:50px;
}
.p100 {
 padding:100px;
}
.pt100 {
 padding-top:100px;
}
.pb100 {
 padding-bottom:100px;
}
.ptb100 {
 padding-top:100px;
 padding-bottom:100px;
}
.pl100 {
 padding-left:100px;
}
.pr100 {
 padding-right:100px;
}
.plr100 {
 padding-left:100px;
 padding-right:100px;
}
.pl300 {
 padding-left:300px;
}
.pl400 {
 padding-left:400px;
}
.fs10 {
 font-size:10px;
}
.fs11 {
 font-size:11px;
}
.fs12 {
 font-size:12px;
}
.fs13 {
 font-size:13px;
}
.fs14 {
 font-size:14px;
}
.fs15 {
 font-size:15px;
}
.fs16 {
 font-size:16px;
}
.fs18 {
 font-size:18px;
}
.fs20 {
 font-size:20px;
}
.fs22 {
 font-size:22px;
}
.fs24 {
 font-size:24px;
}
.fs25 {
 font-size:25px;
}
.fs26 {
 font-size:26px;
}
.fs28 {
 font-size:28px;
}
.fs30 {
 font-size:30px;
}
.fs32 {
 font-size:32px;
}
.fs35 {
 font-size:30px;
}
.fw400 {
 font-weight:400;
}
.fw600 {
 font-weight:600;
}
.fw700 {
 font-weight:700;
}
.fwn {
 font-weight:normal;
}
.fwb {
 font-weight:bold;
}
.lh18 {
 line-height:18px;
}
.lh20 {
 line-height:20px;
}
.lh22 {
 line-height:22px;
}
.lh24 {
 line-height:24px;
}
.lh26 {
 line-height:26px;
}
.lh30 {
 line-height:30px;
}
.lh82 {
 line-height:82px;
}
.lh100 {
 line-height:100%;
}
.lh110 {
 line-height:110px;
}
.lh150 {
 line-height:150%;
}
.lh180 {
 line-height:180%;
}
.lh200 {
 line-height:200%;
}
.ti2 {
 text-indent:2em;
}
.tdu {
 text-decoration:underline;
}
.tdn {
 text-decoration:none;
}
.wb {
 word-wrap:break-word;
 word-break:break-all;
}
