@charset "utf-8";
.m-box{ margin: 0 auto; max-width: 800px;}
.m-box .head{ width: 100%; max-width: 800px; background: #00695C; color: #fff; height: 50px; line-height: 50px;  text-align: center; position: fixed; top: 0; z-index: 999;}
.m-box .head .del{ position: absolute; width: 60px; text-align: center; height: 50px; top: 0; right: 0; display: none; }
.m-box .list{ width: 100%; margin-bottom:20px;}
.m-box .list ul li{ width: 100%; height: 100px; border-bottom: 5px solid #eeee;}
.m-box .list ul li .box{ width: 100%; height: 100px; position: relative; padding: 0 10px 0 35px;}
.m-box .list ul li .box .check,.foot .check{ width: 25px; height: 25px; border-radius: 50%; border: 1px solid #333; position: absolute; left: 5px; top: 50%; margin-top: -10px;   }
.m-box .list ul li .box .check.action,.foot .check.action{ background: url(../img/check_on.jpg)no-repeat center center; background-size:auto 100%; border: none;  }
.m-box .list ul li .box .img{ width: 100px; height: 100px; float: left; }
.m-box .list ul li .box .img img{ width: 100%; }
.m-box .list ul li .box .info{ padding-left: 110px; }
.m-box .list ul li .box .info .title{ height: 40px; line-height: 40px; width: 100%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.m-box .list ul li .box .m-num{ height: 35px; line-height: 35px; width: 130px; position: relative;  }
.m-box .list ul li .box .m-num span{ display: block; width: 35px; height: 35px; background: #eee; text-align: center; position: absolute; top: 0;  }
.m-box .list ul li .box .m-num .add{ position: absolute; right: 0;  }
.m-box .list ul li .box .m-num .jian{ position: absolute; left: 0;  }
.m-box .list ul li .box .m-num input{ color: #333; width: 60px; height: 35px; border-color: #eee; position: absolute; left: 35px; text-align: center; }
.m-box .list ul li .box .price{ line-height: 35px; height: 35px; font-size: 15px; color: #BF360C; }
.sl_price{float: left;}
.addshopping{color: red;}
.adddiv{float: right;margin-right: 30px;}

.foot{ width: 100%; height: 50px; background: #F2F2F2; line-height: 50px; padding: 0 0 0 15px; position: relative;  bottom: 0; max-width: 800px; }
.foot .all-check{ padding-left: 20px;  width: 60px; float: left; }
.foot .foot-box{ width: 70%; float: right;   }
.foot .foot-box .itme{ width: 50%; float: left; height: 100%; }
.foot .foot-box .itme input{ display: block; width: 100%; height: 50px; background: #00695C; border: none;  }

